a {
    display: inline-block;
    text-decoration: none;
}

.errorBox {
    width: 310px;
    margin: 0 auto;
    margin-top: 200px;
    height: 300px;
    border-radius: 4px;
    background: #eee;
    border: 1px solid #aaa;
    padding: 0 30px;
    box-shadow: 0 0 5px 1px #ddd;
}

.errorBox {
    content: "";
    display: table;
}

.errorBox h3 {
    color: #333;
    margin: 20px 0;
    font-size: 18px;
    font-weight: normal;
}

.errorBox p {
    text-align: center;
    margin-top: 50px;
    color: #333;
    font-weight: bold;
}

.errorBox a {
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    background: url('../img/btnback.png') repeat center;
    background-size: contain;
    border-radius: 4px;
}

.errorBox a:nth-child(1) {
    float: left;
}

.errorBox a:nth-child(2) {
    float: right;
}

.errorBox div {
    margin-top: 100px;
}


/************welcome***************/

.welcomeBox {
    margin-top: 200px;
    text-align: center;
}

.welcomeBox span {
    line-height: 60px;
    font-size: 40px;
    background: #b0ccea;
    border-radius: 4px;
    color: #fff;
    padding: 10px 20px;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
}
